version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pirtolx-ui
    ports:
      - "3000:3000"
    restart: always
    environment:
      NODE_ENV: production
    healthcheck:
      test: ["CMD", "wget", "-q", "http://localhost:3000", "-O", "-"]
      interval: 5s
      timeout: 3s
      retries: 5
